<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>

    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>


    <span class="s4">&lt;!--  &lt;com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton 
        android:layout_width=&quot;104dp&quot; 
        android:layout_height=&quot;wrap_content&quot; 
        android:layout_marginTop=&quot;444dp&quot; 
        android:layout_marginEnd=&quot;30dp&quot; 
        android:layout_marginBottom=&quot;43dp&quot; 
        android:background=&quot;@drawable/btn&quot; 
        android:text=&quot;Search&quot; 
        android:textColor=&quot;@color/white&quot; 
        android:textSize=&quot;17dp&quot; 
        app:layout_constraintBottom_toBottomOf=&quot;parent&quot; 
        app:layout_constraintEnd_toEndOf=&quot;parent&quot; 
        app:layout_constraintTop_toBottomOf=&quot;@+id/recyclerView&quot; /&gt; 
--&gt;</span>

    <span class="s0">&lt;androidx.recyclerview.widget.RecyclerView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/recyclerView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;2dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;1dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;1.0&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/fab&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;118dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;664dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/btn&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Add Data&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.897&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>


<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>